@font-face {
    font-family: "ttfors_regular";
    src: url(/fonts/ttfors/TT\ Fors\ Trial\ Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "ttfors_thin";
    src: url(/fonts/ttfors/TT\ Fors\ Trial\ Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "ttfors_thin_ital";
    src: url(/fonts/ttfors/TT\ Fors\ Trial\ Light\ Italic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "ttfors_regular_ital";
    src: url(/fonts/ttfors/TT\ Fors\ Trial\ Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "aileron";
    src: url('/fonts/aileron/Aileron-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}