html {
    scroll-behavior:  smooth;
    background-color: rgb(255,248,237);
    margin: 5%;
}

h1{
    font-family: 'Roboto', 'ttfors', sans-serif; 
    font-weight: 300;
    font-size: 50px; 
    line-height: 0.25;
    color: #68857F;
}

.main{
    animation: fade-in 3.5s;
}

p, h2, h3{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400; 
    color: #53504B;
}

p{
    font-weight: 300;
}

.serif-h1{
    font-family: serif;
    font-style: italic;
    font-weight: 200;
    animation: launch-left 2s ease-in-out;
}

@keyframes launch-left{
    0%{
        opacity: 0;
        transform: translate(-500px);
    }
    20%{
        opacity: 25%;
        transform: translate(-500px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

a{
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: #537d82;
    transition: 0.5s;
    border-radius: 10%;
}

a:hover{
    background-color: #c0d6d9;
}

.page{
    display: flex;
    flex-direction: column;
}

.basic-flex{
    display: flex;
    align-items: center;
}

/* funny little sections */
#about-me{
    display: flex;
    height: 100%;
    justify-content: space-between;
}
#git{
    background-color: #ffeed4;
    border-radius: 5%;
    border: 1px solid #e8c999;
    padding: 15px;
}

/* Funny text stuff */
/* right alignment text */
.right{
    display: flex;
    flex-direction: column;
    width: 35%;
    border: 1px solid red; 
}

.right-aligned-headers{ 
    display: inline-flex;
    height: 100%;
    align-items: center;  
    margin: 0 0;
}

/* left alignment text */ 
.left{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    row-gap: 15px;
    border: 1px solid blue; 
    align-content: flex-start;
    align-items: center;  
}

.left h2{
    color: #6C969D;
    font-weight: 400;
    width: 100%;
    height: 100%;
    line-height: 1.5px;
}

/* full stuff */
.full-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 3px solid pink; 
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    /* width: 100%;
    flex-wrap: wrap;
    row-gap: 15px;
    border: 1px solid blue; 
    align-content: flex-start;
    align-items: center;   */
}
.grid00-01{
    grid-column: 1 / 3;
    grid-row: 1;
}

#work-projects{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

/* Silly shapes */
.dot {
    height: 25px;
    width: 25px;
    color: rgb(255,248,237);
    background-color: #6C969D;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

/* little spacers */
.clear-div-section{
    height: 50px;
}

.clear-div-short{
    height: 15px;
}

.clear-div-vertical{
    width : 20px;
}

/* img things */
.image-defaults{
    width : 75%;
    height: 75%;
    object-fit: cover;
    opacity: 85%;
}

.left-img{
    position: absolute;
    left: 0%;
    width: 60%;
    height: 300px;
}